# Configuración contra clickjacking
Header set X-Frame-Options "DENY"

# Cabecera hsts
Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

# Cabecera csp
Header set Content-Security-Policy "default-src 'self'; script-src 'self'; style-src 'self';"


# Cabecera X-Content-Type-Options
Header always set X-Content-Type-Options “nosniff”

# Cabecera
Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS"

# Cabecera
Header always set Access-Control-Allow-Headers "Content-Type"